/*====Prototype CSS Style Page ======*/


html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




/*Global Styles*/
body{
    background-color:#9999AD;
    margin:0;
    line-height: 1.5;
}




/*header Styles*/
